header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: all 0.3s;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 1630px;
  margin: 0 auto;
}

.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 26px 0 23px 0;
  height: 1.6em;
  line-height: 1.6;
}

.header__logo img {
  width: auto;
  height: 22px;
  object-fit: contain;
}

.header__menu {
  display: flex;
  padding: 0 15px;
  gap: 4px;
}

.header__menu .menu__item > a {
  position: relative;
  display: block;
  font-size: 18px;
  color: var(--color-white);
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.1s;
  padding: 25px 22px 18px 22px;
}

.header__menu .menu__item > a:hover {
  color: var(--color-main);
}

.header__menu .menu__item.active > a {
  color: var(--color-main);
}

.header__menu .menu__item:last-child > a {
  padding-right: 0;
}

.header__menu .menu__item > a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
  margin-top: 10px;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}

.header__menu .menu__item:hover > a::after,
.header__menu .menu__item.active > a::after {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}

.header__mobile {
  display: none;
}

.quick__menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.quick__menu > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quick__menu > ul > li {
  position: relative;
}

.quick__menu > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-main);
  line-height: 1;
  text-align: center;
  background-color: var(--color-sub);
  border: 1px solid var(--color-main);
}

.quick__menu > ul > li > a::before {
  position: absolute;
  content: '';
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid var(--color-main);
}

.quick__menu > ul > li > a > p {
  margin-top: 2px;
  line-height: 1.6;
}

.quick__menu > ul > li > a > img {
  rotate: -90deg;
}

#store {
  font-size: 24px;
  transition: all 0.2s;
}

.quick__menu > ul > li:hover #store {
  transform: scale3d(0.8, 0.8, 1);
}

header.scrolled {
  background-color: var(--color-sub);
}

header.scrolled .header__menu .menu__item > a {
  color: var(--color-main);
}

header #scrollTop {
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

header.scrolled #scrollTop {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  
  header {
    width: 100vw;
    background-color: var(--color-sub);
  }

  .header__container {
    height: 50px;
  }

  .header__logo {
    padding: 0;
    margin: 0 15px;
  }

  .header__logo img {
    height: 20px;
  }

  nav {
    display: none;
  }

  .header__mobile {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 15px;
    cursor: pointer;
  }

  .header__mobile img {
    width: 100%;
    object-fit: contain;
  }

  .quick__menu {
    bottom: 15px;
    right: 15px;
  }

  .quick__menu > ul {
    gap: 10px;
  }

  .quick__menu > ul > li > a {
    width: 60px;
    height: 60px;
    font-size: 8px;
  }

  .quick__menu > ul > li > a::before {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }

  .quick__menu > ul > li > a > img {
    width: 24px;
    height: auto;
  }

  #store {
    font-size: 18px;
  }
}